In [1]:
# importing important modules to use for regularization of data. Regularization of data involves solving problems of underfitting and overfitting

import pandas as pd
from sklearn.linear_model import LinearRegression, Ridge
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [2]:
data = pd.read_csv ('train.csv')
data.head ()

,OverallQual,YearBuilt,YearRemodAdd,TotalBsmtSF,1stFlrSF,GrLivArea,FullBath,TotRmsAbvGrd,GarageCars,GarageArea,SalePrice,ExterQual_TA,Foundation_PConc,KitchenQual_TA
0,6,1969,1969,663,663,1352,1,7,1,299,158000,1,0,1
1,6,1920,1950,1012,1012,1012,1,6,1,308,118400,1,0,1
2,5,1910,2006,1022,1022,1022,1,4,1,280,85000,1,0,1
3,5,1973,1973,1656,1656,1656,2,8,2,506,135000,1,0,1
4,6,1978,1978,918,918,1683,2,7,2,440,172500,1,0,1

In [3]:
x = data.drop ('SalePrice', axis = 1)
y = data.loc [:, 'SalePrice']

x_train, x_test, y_train, y_test = train_test_split (x, y, test_size = 0.3)

In [5]:
# Training and Testing Data

linear_reg = LinearRegression ()
ridge_reg = Ridge (alpha = 0.05, normalize = True)

linear_reg.fit (x_train, y_train)
ridge_reg.fit (x_train, y_train)

Ridge(alpha=0.05, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=True, random_state=None, solver='auto', tol=0.001)

In [7]:
linear_pred = linear_reg.predict (x_test)
ridge_pred = ridge_reg.predict (x_test)

In [14]:
# comparing both models using the mean squared error 

linear_mse = mean_squared_error (y_test, linear_pred)
ridge_mse = mean_squared_error (y_test, ridge_pred )

print ('MSE without Ridge {}'.format (linear_mse))
print ('MSE with Ridge {}'.format (ridge_mse))

MSE without Ridge 3340209139.4995403
MSE with Ridge 2956878587.3181257