This is a program for a Linear Regression machine model. T

In [1]:
import pandas as pd

In [2]:
# Reading the data to be analysed

test = pd.read_csv ('test.csv')
train = pd.read_csv ('train.csv')

test.columns

Index(['OverallQual', 'YearBuilt', 'YearRemodAdd', 'TotalBsmtSF', '1stFlrSF',
       'GrLivArea', 'FullBath', 'TotRmsAbvGrd', 'GarageCars', 'GarageArea',
       'SalePrice', 'ExterQual_TA', 'Foundation_PConc', 'KitchenQual_TA'],
      dtype='object')

In [3]:
test.describe ()

,OverallQual,YearBuilt,YearRemodAdd,TotalBsmtSF,1stFlrSF,GrLivArea,FullBath,TotRmsAbvGrd,GarageCars,GarageArea,SalePrice,ExterQual_TA,Foundation_PConc,KitchenQual_TA
count,329.000000,329.000000,329.000000,329.000000,329.000000,329.000000,329.000000,329.000000,329.000000,329.000000,329.000000,329.000000,329.000000,329.000000
mean,6.200608,1972.854103,1985.562310,1108.887538,1184.000000,1522.167173,1.562310,6.547112,1.896657,511.732523,184949.598784,0.577508,0.477204,0.474164
std,1.337498,30.437511,21.155275,369.044411,357.787757,479.491721,0.514937,1.569060,0.668285,194.813235,73958.768561,0.494708,0.500241,0.500093
min,2.000000,1880.000000,1950.000000,105.000000,480.000000,480.000000,0.000000,4.000000,1.000000,160.000000,35311.000000,0.000000,0.000000,0.000000
25%,5.000000,1955.000000,1965.000000,856.000000,914.000000,1158.000000,1.000000,5.000000,1.000000,375.000000,134000.000000,0.000000,0.000000,0.000000
50%,6.000000,1972.000000,1996.000000,1040.000000,1127.000000,1484.000000,2.000000,6.000000,2.000000,492.000000,165000.000000,1.000000,0.000000,0.000000
75%,7.000000,2003.000000,2005.000000,1358.000000,1436.000000,1779.000000,2.000000,7.000000,2.000000,618.000000,218000.000000,1.000000,1.000000,1.000000
max,10.000000,2010.000000,2010.000000,2216.000000,2234.000000,3238.000000,3.000000,12.000000,4.000000,1390.000000,501837.000000,1.000000,1.000000,1.000000

In [6]:
#importing relevant modules to build a machine model

from sklearn.linear_model import LinearRegression as lr

In [10]:
# Divinding the data into input and output

x_train = train.drop ('SalePrice', axis = 1)
y_train = train.loc [:, 'SalePrice']

In [12]:
y_train.head ()

0    158000
1    118400
2     85000
3    135000
4    172500
Name: SalePrice, dtype: int64

In [13]:
#building the Linear Regression Model and training the model with data

model = LinearRegression ()

model.fit (x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [15]:
# testing the model with some data

x_test = test.drop ('SalePrice', axis = 1)
y_test = test.loc [:, 'SalePrice']

predictions = model.predict (x_test)

In [20]:
#comparing the actaual data output with the predicted output from the test data by placing them in a table

comparison = pd.DataFrame ({'Actual Sales Price': y_test ,'Predicted Price': predictions})
comparison.head (10)

   Actual Sales Price  Predicted Price
0              118500     83380.944694
1              154900    105974.149765
2              133000    139238.138343
3              115000    104982.049557
4              154500    140473.360146
5              132500    115735.355477
6              125500     96037.128606
7              315000    316981.678575
8              124000    193196.858453
9              372402    284836.603750

In [21]:
# importing needed modules for performance evaluation

from sklearn.metrics import mean_squared_error
from numpy import sqrt

In [23]:
# performing a root mean squared error test on the result

rsme = sqrt (mean_squared_error (y_test, predictions))
rsme

33186.384172367696

In [30]:
# checking correlation to determing parameters that have effects on the output 

correlations = train.corr ()
saleprice_correlations = correlations ['SalePrice']

saleprice_correlations.sort_values (ascending = False).head (20)

SalePrice           1.000000
OverallQual         0.792263
GrLivArea           0.712054
GarageCars          0.658355
GarageArea          0.621354
1stFlrSF            0.621057
TotalBsmtSF         0.612205
FullBath            0.597505
TotRmsAbvGrd        0.573845
Foundation_PConc    0.517222
YearRemodAdd        0.504414
YearBuilt           0.503317
KitchenQual_TA     -0.527176
ExterQual_TA       -0.598202
Name: SalePrice, dtype: float64